div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | The delete server and server index api routes are restricted to users with the 'admin' role.
  table.table
    thead
      tr
        th Nick
        th IP
        th NPC
        th(colspan="2") Hasher version
        th
    tbody
      tr(ng-repeat="server in servers")
        td.editable(ng-click="editingNick=true", ng-init="ip = ipToStr(server.ip)",
          ng-hide="editingNick") {{server.nick || "---"}}
        td(ng-hide="!editingNick")
          form.form(ng-submit="update(server); editingNick=false")
            input(type="textfield", ng-model="server.nick")
            input(type="submit", value="Save")
        td(ng-click="copyToClipboard(ip)")  {{ip}}
        td
          input(type="checkbox", ng-model="server.npc", ng-change="update(server)")
        td.editable(ng-hide="editingHasher", ng-click="editingHasher=true") {{server.hasher | number: 1}}
        td(ng-hide="!editingHasher", colspan="2")
          form.form(ng-submit="update(server); editingHasher=false")
            input(type="decimal", ng-model="server.hasher")
            input(type="submit", value="Save")
        td
          span.trash.icon.glyphicon.glyphicon-trash(ng-click='delete(server)')
